<!doctype  html>
<html  lang="en">
<head>
  {% load static %}
<link rel="shortcut icon" href="{{MEDIA_URL}}static/image/favicon.ico" type="image/x-icon">
<link  rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous">
<link href="{% static 'css/base.css' %}" rel="stylesheet">
{% block style %}
{% endblock %}
<title>
  {% block title %}
  Проект регистрации
  {% endblock%}
</title>
</head>
<body>
  {% block main %}
  {% endblock %}

  {% block footer %}
  <!-- <div class="container">
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="justify-content-center text-white">
        <p>Я познаю Питон. Если есть вопросы и замечания по сайту писать сюда:
        <a href="#">Сергей Админ</a></p>

      </div>
    </nav>
  </div> -->
  {% endblock %}

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
