{% extends 'base.html' %}
{% load static %}
{% block title %} Диалог с {{friend.first_name}} {{friend.last_name}} {% endblock %}
{% block style %}
<link href="{% static 'css/dialogs/dialog.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}
  {% include 'menu.html' %}
   <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="main col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 ">
        <div id='message_block' class="messages">
          {% if messages2 %}
            <a href="#" id="previous_messages">Предыдущие сообщения</a>
          {% endif %}
          {% for message in sort_messages %}
            {% if message.sender == request.user %}
                <div class="media w-75 bg-secondary mb-3 p-1 rounded" id='message{{message.id}}'>
                  <a href="{% url 'account:user_account' %}">
                  <img class="d-flex mr-3" src="{{ message.sender.profile.avatar.url }}" width="40px" alt="{{ message.sender.first_name }}"></a>
                  <div class="media-body">
                    <h6 class="mt-0 wordwrap textowerflow">{{message.sender.first_name}} {{message.sender.last_name}} <time class="float-right">{{message.message_time}}</time></h6>
                    <div class="wordwrap textowerflow">
                      {{message.message_text|linebreaks|urlizetrunc:30}}
                    </div>
                    <a class="close delete_message pb-1" href="#" data-id="message{{message.id}}" data-action="{{message.id}}" title="Удалить">
                      <span aria-hidden="true" class="text-danger m-1" >&times;</span>
                    </a>
                  </div>
                </div>
            {% else %}
                <div class="media w-75 float-right bg-success mb-3 mr-1 p-1 rounded" id='message{{message.id}}'>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1 wordwrap textowerflow">{{message.sender.first_name}} {{message.sender.last_name}} <time class="float-right">{{message.message_time}}</time></h6>
                    <div class="wordwrap textowerflow">
                      {{message.message_text|linebreaks|urlizetrunc:30}}
                    </div>
                    <a class="close delete_message pb-1" href="#" data-id="message{{message.id}}" data-action="{{message.id}}" title="Удалить">
                      <span aria-hidden="true" class="text-danger m-1" >&times;</span>
                    </a>
                  </div>
                  <a href="{% url 'account:account' message.sender.id %}"><img class="d-flex ml-3" src="{{ message.sender.profile.avatar.url }}" width="40px" alt="{{ message.sender.first_name }}"></a>
                </div>
            {% endif %}
          {% endfor %}
        </div>
          <form id="leave_message" enctype="multipart/form-data" class="form-inline mt-2">
            {% csrf_token %}
            <textarea name="message_text" id="message_text" rows="2" maxlength="500"></textarea>
            <button type="submit" name="button" class="btn-primary">Отправить</button>
          </form>
        <!-- <a href="{% url 'dialogs:messages' %}">Назад</a> -->
      </div>
      </div>
    </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript">
    window.onload = function(){ document.getElementById('message_block').scrollTop = 9999;}

    setInterval(function () {
          $.ajax({
              url: "{% url 'dialogs:post' friend.username %}",
              type: 'GET',
              data: {'check': true},

              success: function (json) {
                  if (json.result) {
                      var doc = $.parseHTML(json.messages_list);
                      $('#message_block').append(doc);
                      $('#message_block').scrollTop(9999);
                  }
              }
          });
      }, 1000);

      $(document).on('submit', '#leave_message', function(e){
        e.preventDefault();
        var message_text = $('#message_text').val();
        if (message_text != ''){
           $('#message_text').val('');
           $.ajax({
            type:'POST',
            url:'{% url "dialogs:leave_message" friend.username %}',
            data:{
              message_text:message_text,
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success:function (json) {
                if (json.result) {
                    var doc = $.parseHTML(json.messages_list);
                    $('#message_block').append(doc);
                    $('#message_block').scrollTop(9999);
              }
            }
          });
        };
      });


      $('#previous_messages').on('click', function(e) {
        e.preventDefault();
        var message_block = $('#message_block');
        message_block.scrollTop(message_block.get(0).scrollHeight);
        var scrollHeight = message_block.scrollTop() + message_block.height();
        message_block.scrollTop(0);

        $('#previous_messages').remove();
           {% for message in messages2 %}
             {% if message.sender == request.user %}
                message_block.prepend('<div class="media w-75 bg-secondary mb-3 p-1 rounded"><img class="d-flex mr-3" src="{{ message.sender.profile.avatar.url }}" width="40px" alt="{{ message.sender.first_name }}"><div class="media-body wordwrap textowerflow"><h6 class="mt-0 wordwrap textowerflow">{{message.sender.first_name}} {{message.sender.last_name}} <time class="float-right">{{message.message_time}}</time></h6>{{message.message_text|linebreaks|urlizetrunc:30}}</div></div>');
             {% else %}
               message_block.prepend('<div class="media w-75 float-right bg-success mb-3 mr-1 p-1 rounded"><div class="media-body wordwrap textowerflow"><h6 class="mt-0 mb-1 wordwrap textowerflow">{{message.sender.first_name}} {{message.sender.last_name}} <time class="float-right">{{message.message_time}}</time></h6>{{message.message_text|linebreaks|urlizetrunc:30}}</div><img class="d-flex ml-3" src="{{ message.sender.profile.avatar.url }}" width="40px" alt="{{ message.sender.first_name }}"></div>');
             {% endif %}
           {% endfor %}
        message_block.scrollTop(message_block.get(0).scrollHeight);
        var new_scrollHeight = message_block.scrollTop() + message_block.height();
        message_block.scrollTop(0);
        message_block.scrollTop(new_scrollHeight - scrollHeight);
       });

       $('a.delete_message').on('click', function(e){
          e.preventDefault();
          var delete_message = $(this).data('id');
          var message_id = parseInt($(this).data('action'));
          $.get(
            '/message'+message_id+'/delete',
            function(data){
              if (data['status'] == 'ok'){
                $('#'+delete_message).remove();
               }
            });
        });
    </script>
{% endblock %}
