    {% for message in messages %}
      {% if message.sender == user %}
        <div class="media w-75 bg-secondary mb-3 p-1 rounded" id='message{{message.id}}'>
          <a href="{% url 'account:user_account' %}">
          <img class="d-flex mr-3" src="{{ message.sender.profile.avatar.url }}" width="40px" alt="{{ message.sender.first_name }}"></a>
          <div class="media-body">
            <h6 class="mt-0 wordwrap textowerflow">{{message.sender.first_name}} {{message.sender.last_name}} <time class="float-right">{{message.message_time}}</time></h6>
            <div class="wordwrap textowerflow">
              {{message.message_text|linebreaks|urlizetrunc:30}}
            </div>
          </div>
        </div>
      {% else %}
        <div class="media w-75 float-right bg-success mb-3 mr-1 p-1 rounded" id='message{{message.id}}'>
          <div class="media-body">
            <h6 class="mt-0 mb-1 wordwrap textowerflow">{{message.sender.first_name}} {{message.sender.last_name}} <time class="float-right">{{message.message_time}}</time></h6>
            <div class="wordwrap textowerflow">
              {{message.message_text|linebreaks|urlizetrunc:30}}
            </div>
          </div>
          <a href="{% url 'account:account' message.sender.id %}"><img class="d-flex ml-3" src="{{ message.sender.profile.avatar.url }}" width="40px" alt="{{ message.sender.first_name }}"></a>
        </div>
      {% endif %}
    {% endfor %}
