.friend_block{
  width: 30%;
  display: inline-block;
}
 @media (min-width: 576px) {
  .card-columns {
      column-count: 1;
 }
 .friend_block{width: 30%;}
 }
  @media (min-width: 768px) {
      .card-columns {
          column-count: 1;
     }

     .friend_block{width: 100%;}
 }
  @media (min-width: 992px) {
      .card-columns {
          column-count: 2;
     }
     .friend_block{width: 45%;}
 }
  @media (min-width: 1200px) {
      .card-columns {
          column-count: 2;
     }
     .friend_block{width: 30%;}
 }
