{% autoescape off %}
Вы получили это письмо, потому что запросили сброс пароля для своей учетной записи пользователя по адресу {{ site_name }}.

Пожалуйста, перейдите на следующую страницу и выберите новый пароль:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url django.contrib.auth.views.password_reset_confirm uidb36=uid, token=token %}
{% endblock %}

Ваше имя пользователя, если вы забыли: {{ user.username }}

Спасибо, что используете наш сайт.

Команда {{ site_name }}

{% endautoescape %}
