{% extends 'base.html' %}

{% block main %}
    {% if validlink %}
        <p>Создайте новый пароль</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новый пароль:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Подтверждение пароля:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Неудачный сброс пароля</h1>
        <p>Ссылка для сброса пароля неверная, <br />
        возможно, она уже была использована. <br />
        Пожалуйста, попробуйте сбросить пароль повторно.</p>
    {% endif %}
{% endblock %}
