{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %} Все новости {% endblock %}
{% block style %}
<link href="{% static 'css/posts/post_columns.css' %}" rel="stylesheet">
<style media="screen">
  textarea{
    display:block;
    width:75%;
    height:50px;
    padding:.375rem .75rem;
    font-size:1rem;
    font-weight:400;
    color:#495057;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    border-radius:.25rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
  }
  input[type = submit]{
    display:block;
    width:25%;
    height:50px;
  }
  .my-card-img-top{
    max-width: 100%;
    max-height: 70vh;
    width:auto;
    height: auto;
    margin: auto;
  }
  hr {
    margin: -30px auto 10px;
  	padding: 0;
  	height: 50px;
  	border: none;
  	border-bottom: 1px solid #fff;
  	box-shadow: 0 20px 20px -20px #333;
  	width: 100%;
  }
</style>
{% endblock %}

{% block main %}
  {% include 'menu.html' %}
  <div class="container-fluid">
   <div class="row justify-content-center">
     <div class="main col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 ">
        <div class="card mt-2 text-white bg-dark">
            <div class="card-header wordwrap textowerflow">
                <a href="{% url 'account:account' post.author.id %}" class="text-white">{{ post.author.first_name }} {{ post.author.last_name }}</a>
                <a class="close" href="{% url 'posts:back' %}">
                  <span aria-hidden="true">&times;</span>
                </a>
            </div>
            {% if post.post_image %}
              <img class="my-card-img-top" src="{{ post.post_image.url }}" alt="{{ post.post_title }}">
            {% endif %}
              <div class="card-body wordwrap textowerflow">
              {% if post.post_title %}
                <h4 class="card-title">{{ post.post_title }}</h4>
              {% endif %}
              <p class="card-text">
                {{ post.post_text|linebreaks|urlizetrunc:30 }}
                <strong><time>{{ post.post_time }}</time></strong>
              </p>
              <p>
                  <a href="{% url 'posts:post' post.id %}" id="comment{{ post.id }}"  class="btn btn-secondary float-left ml-2">
                  <img id="comment_img{{ post.id }}" src="{{ MEDIA_URL }}static/image/comment.png" alt="comment" width="23px">
                  <strong id="comment_val{{ post.id }}">{{post.post_comments.count}}</strong>
                </a>
                <a href="#" id="dislike_block{{ post.id }}"  class="btn btn-secondary float-right ml-2">
                  <img id="dislike_img{{ post.id }}" src="{{ MEDIA_URL }}static/image/dislike.png" alt="dislike" width="20px">
                  <strong id="dislike_val{{ post.id }}">{{post.post_dislike}}</strong>
                </a>
                <a href="#" id="like_block{{ post.id }}"  class="btn btn-secondary float-right ml-2">
                  <img id="like_img{{ post.id }}" src="{{ MEDIA_URL }}static/image/like.png" alt="like" width="20px">
                  <strong id="like_val{{ post.id }}">{{post.post_dislike}}</strong>
                </a>
                <br>
              </p>
            </div>
            <hr>
            <div class="card-comment p-3">
              <form action="{% url 'posts:leave_comment' post.id %}" method="post" class="form-inline mb-3">
                {% csrf_token %}
                <textarea name="text"></textarea>
                <input type="submit" name="leave_comment" value="Отправить" class="btn btn-primary">
              </form>
              {% for comment in post.post_comments.all %}
               {% if comment.comment_author == request.user %}
                  <div class="media w-100 bg-success mb-3 p-1 rounded">
                    <a href="{% url 'account:account' comment.comment_author.id %}">
                     <img class="d-flex mr-3 rounded-circle" src="{{ comment.comment_author.profile.avatar.url }}" width="40px" alt="{{ comment.comment_author.first_name }}">
                  </a>
                    <div class="media-body wordwrap textowerflow">
                      <h6 class="mt-0 wordwrap textowerflow">{{comment.comment_author.first_name}} {{comment.comment_author.last_name}} <time class="float-right">{{comment.comment_pubdate}}</time></h6>
                      {{comment.comment_text|linebreaks|urlizetrunc:30}}
                      <a href="{% url 'posts:delete_comment' post.id comment.id %}" class="btn btn-primary float-right mb-1 mr-1" >Удалить</a>
                    </div>
                  </div>
                {% else %}
                  <div class="media w-100 bg-secondary mb-3 p-1 rounded">
                    <a href="{% url 'account:account' comment.comment_author.id %}">
                    <img class="d-flex mr-3 rounded-circle" src="{{ comment.comment_author.profile.avatar.url }}" width="40px" alt="{{ comment.comment_author.first_name }}"></a>
                    <div class="media-body wordwrap textowerflow">
                      <h6 class="mt-0 wordwrap textowerflow">{{comment.comment_author.first_name}} {{comment.comment_author.last_name}} <time class="float-right">{{comment.comment_pubdate}}</time></h6>
                      {{comment.comment_text|linebreaks|urlizetrunc:30}}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>

          <script type="text/javascript">
            $.ajax({
                url: "{% url 'posts:user_like' post.id %}",
                type: 'GET',
                data: {'check': true},

                success: function (json) {
                    if (json.result) {
                      var like = json.like;
                      var dislike = json.dislike;
                      if (json.user_like) {
                        if (json.user_like_val == "like"){
                          $('#like_val{{ post.id }}').text(like);
                          $('#like_block{{ post.id }}').attr('class', 'btn btn-success float-right ml-2');
                          $('#dislike_val{{ post.id }}').text(dislike);
                        } else {
                          $('#like_val{{ post.id }}').text(like);
                          $('#dislike_val{{ post.id }}').text(dislike);
                          $('#dislike_block{{ post.id }}').attr('class', 'btn btn-danger float-right ml-2');
                        }
                      } else {
                        $('#like_val{{ post.id }}').text(like);
                        $('#dislike_val{{ post.id }}').text(dislike);
                      }
                    }
                }
            });

              $('#like_block{{ post.id }}').on('click', function(e) {
                e.preventDefault();
               $.ajax({
                  type:'GET',
                  url:"{% url 'posts:like_or_dislike' post.id 'like' %}",
                  data: {'check': true},
                  success:function (json) {
                      if (json.result) {
                          var like = json.like;
                          var dislike = json.dislike;
                          if (json.user_like) {
                            $('#like_val{{ post.id }}').text(like);
                            $('#like_block{{ post.id }}').attr('class', 'btn btn-success float-right ml-2');
                            $('#dislike_val{{ post.id }}').text(dislike);
                            $('#dislike_block{{ post.id }}').attr('class', 'btn btn-secondary float-right ml-2');
                          } else {
                            $('#like_val{{ post.id }}').text(like);
                            $('#like_block{{ post.id }}').attr('class', 'btn btn-secondary float-right ml-2');
                            $('#dislike_val{{ post.id }}').text(dislike);
                            $('#dislike_block{{ post.id }}').attr('class', 'btn btn-secondary float-right ml-2');
                          }
                    }
                  }
                });
              });

              $('#dislike_block{{ post.id }}').on('click', function(e) {
                e.preventDefault();
               $.ajax({
                  type:'GET',
                  url:"{% url 'posts:like_or_dislike' post.id 'dislike' %}",
                  data: {'check': true},
                  success:function (json) {
                      if (json.result) {
                          var like = json.like;
                          var dislike = json.dislike;
                          if (json.user_like) {
                              $('#like_val{{ post.id }}').text(like);
                              $('#like_block{{ post.id }}').attr('class', 'btn btn-secondary float-right ml-2');
                              $('#dislike_val{{ post.id }}').text(dislike);
                              $('#dislike_block{{ post.id }}').attr('class', 'btn btn-danger float-right ml-2');
                            } else {
                            $('#like_val{{ post.id }}').text(like);
                            $('#like_block{{ post.id }}').attr('class', 'btn btn-secondary float-right ml-2');
                            $('#dislike_val{{ post.id }}').text(dislike);
                            $('#dislike_block{{ post.id }}').attr('class', 'btn btn-secondary float-right ml-2');
                          }

                    }
                  }
                });
              });
            </script>
      </div>

    </div>
  </div>

{% endblock %}
