{% extends 'base.html' %}
{% load static %}

{% block title %} {{user.first_name}} {{user.last_name}} {% endblock %}
{% block style %}
<link href="{% static 'css/account/account.css' %}" rel="stylesheet">
<link href="{% static 'css/account/id.css' %}" rel="stylesheet">
<link href="{% static 'css/posts/post_img.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
  {% include 'menu.html' %}

  <div class="container-fluid text-center">
    <div class="row content">
      <div class="col-md-2 sidenav">
        <h3 class="wordwrap textowerflow">{{user.first_name}} {{user.last_name}}</h3>
        {% if user.profile.avatar %}
          <p><a href="{% url 'account:account_setting' %}" title="Изменить"><img class="img-thumbnail" src="{{ user.profile.avatar.url }}" width="100%" alt="{{ user.username }}" ></a></p>
        {% endif %}
        <p class="wordwrap textowerflow">
          {% if user.profile.birth_date %}
            {{ user.profile.birth_date }}
          <br>
          {% endif %}
          {% if user.profile.city %}
            {{ user.profile.city}}
          {% endif %}
        </p>
        <div class="category-wrap">
          <ul>
            <li><a href="{% url 'account:account_setting' %}">Настроить</a></li>
            <li><a href="#" id="modalwin">Создать пост</a></li>
          </ul>
        </div>
        <div class="category-wrap">
          <h6>Подписчики</h6>
          <div>
            {% for follower in followers %}
              <div class="friend_block">
                <a href="{% url 'account:account' follower.user.id %}"><img src="{{ follower.user.profile.avatar.url }}" alt="{{ follower.user.username }}" class="rounded-circle w-100"></a>
                  <h4 class="card-title wordwrap textowerflow"><a href="{% url 'account:account' follower.user.id %}">
                  {{ follower.user.first_name }} {{ follower.user.last_name }}</a></h4>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ваш пост</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="post" enctype="multipart/form-data" class="text-left" id="ctrate_post">
                {% csrf_token %}
                {% for field in form %}
                 <div class="form-group">
                  {{ field.label_tag}} {{field}}
                 </div>
                {% endfor %}
               <input type="submit" name="action" value="Создать" class="btn btn-block btn-primary">
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
            </div>
          </div>
        </div>
      </div>

      <script>
        $('#modalwin').on('click', function(e) {
          e.preventDefault();
          $("#exampleModal").modal('show');
        });
      </script>

      <div class="col-md-8 text-left">
        <div class="card-columns pt-2">
        {% for post in user_posts %}
          <div class="card mb-2 mt-2 text-white bg-dark">

            {% with total_likes=post.post_like.count users_like=post.post_like.all total_dislikes=post.post_dislike.count users_dislike=post.post_dislike.all%}

            {% if post.post_image %}
              <img class="card-img-top" src="{{ post.post_image.url }}" alt="{{ post.post_title }}">
            {% endif %}
            {% if post.post_image_url %}
              <img class="card-img-top" src="{{ post.post_image_url }}" alt="{{ post.post_title }}">
            {% endif %}
              <div class="card-body">
                <div class="wordwrap textowerflow">
                  {% if post.post_title %}
                    <h4 class="card-title">{{ post.post_title }}</h4>
                  {% endif %}
                  <p class="card-text">
                    {{ post.post_text|linebreaks|urlizetrunc:30|truncatewords_html:25 }}

                  </p>
                </div>
                <strong><time>{{ post.post_time }}</time></strong>

              <p>
                {% if post.post_comments.count > 0 %}
                  <a href="{% url 'posts:post' post.id %}" id="comment{{ post.id }}"  class="btn btn-info float-left mr-2">
                    <img id="comment_img{{ post.id }}" src="{{ MEDIA_URL }}static/image/comment.png" alt="comment" width="23px">
                    <strong id="comment_val{{ post.id }}">{{post.post_comments.count}}</strong>
                  </a>
                {% else %}
                  <a href="{% url 'posts:post' post.id %}" id="comment{{ post.id }}"  class="btn btn-secondary float-left mr-2">
                    <img id="comment_img{{ post.id }}" src="{{ MEDIA_URL }}static/image/comment.png" alt="comment" width="23px">
                    <strong id="comment_val{{ post.id }}">{{post.post_comments.count}}</strong>
                  </a>
                {% endif %}

                {% if request.user in users_dislike %}
                  <a href="#" id="dislike_block{{ post.id }}"  class="btn btn-danger float-right ml-2" data-action="undislike" data-id="{{ post.id }}">
                    <img id="dislike_img{{ post.id }}" src="{{ MEDIA_URL }}static/image/dislike.png" alt="dislike" width="20px">
                    <strong id="dislike_val{{ post.id }}">{{total_dislikes}}</strong>
                  </a>
                {% else %}
                  <a href="#" id="dislike_block{{ post.id }}"  class="btn btn-secondary float-right ml-2" data-action="dislike" data-id="{{ post.id }}">
                    <img id="dislike_img{{ post.id }}" src="{{ MEDIA_URL }}static/image/dislike.png" alt="dislike" width="20px">
                    <strong id="dislike_val{{ post.id }}">{{total_dislikes}}</strong>
                  </a>
                {% endif %}

                {% if request.user in users_like %}
                  <a href="#" id="like_block{{ post.id }}" class="btn btn-success float-right ml-2" data-action="unlike" data-id="{{ post.id }}">
                    <img id="like_img{{ post.id }}" src="{{ MEDIA_URL }}static/image/like.png" alt="like" width="20px">
                    <strong id="like_val{{ post.id }}">{{total_likes}}</strong>
                  </a>
                {% else %}
                  <a href="#" id="like_block{{ post.id }}" class="btn btn-secondary float-right ml-2" data-action="like" data-id="{{ post.id }}">
                    <img id="like_img{{ post.id }}" src="{{ MEDIA_URL }}static/image/like.png" alt="like" width="20px">
                    <strong id="like_val{{ post.id }}">{{total_likes}}</strong>
                  </a>
                {% endif %}

                <br>
                <br>
                <a href="{% url 'posts:delete_post' post.id %}" class="btn btn-sm btn-primary float-left w-49">Удалить</a>
                <a href="{% url 'posts:edit_post' post.id %}" class="btn btn-sm btn-primary float-right w-49">Редактировать</a>
                <br>
              </p>
            </div>
          </div>
          {% endwith %}
          <script type="text/javascript">

            $('#like_block{{ post.id }}').on('click', function(e){
              e.preventDefault();
              $.post(
                '{% url "posts:like_or_dislike" %}',
                {id: $(this).data('id'),action: $(this).data('action')},
                function(data){
                  if (data['status'] == 'ok'){
                    var previous_action = $('#like_block{{ post.id }}').data('action');
                    var dislike_previous_action = $('#dislike_block{{ post.id }}').data('action');
                    // Изменяем переменную действия.
                    $('#like_block{{ post.id }}').data('action', previous_action == 'like' ?'unlike' : 'like');
                    $('#dislike_block{{ post.id }}').data('action', 'dislike')
                    // Изменяем цвет ссылки.
                    $('#like_block{{ post.id }}').attr('class', previous_action == 'like' ? 'btn btn-success float-right ml-2' : 'btn btn-secondary float-right ml-2');
                    $('#dislike_block{{ post.id }}').attr('class', 'btn btn-secondary float-right ml-2');
                    //$('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');
                    // Обновляем общее количество лайков.
                    var previous_likes = parseInt($('#like_val{{ post.id }}').text());
                    $('#like_val{{ post.id }}').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
                    var previous_dislikes = parseInt($('#dislike_val{{ post.id }}').text());
                    $('#dislike_val{{ post.id }}').text(dislike_previous_action == 'undislike' ? previous_dislikes - 1 : previous_dislikes );
                  }
                });
              });

              $('#dislike_block{{ post.id }}').on('click', function(e){
                e.preventDefault();
                $.post(
                  '{% url "posts:like_or_dislike" %}',
                  {id: $(this).data('id'),action: $(this).data('action')},
                  function(data){
                    if (data['status'] == 'ok'){
                      var previous_action = $('#dislike_block{{ post.id }}').data('action');
                      var like_previous_action = $('#like_block{{ post.id }}').data('action');
                      // Изменяем переменную действия.
                      $('#dislike_block{{ post.id }}').data('action', previous_action == 'dislike' ?'undislike' : 'dislike');
                      $('#like_block{{ post.id }}').data('action', 'like')
                      // Изменяем цвет ссылки.
                      $('#dislike_block{{ post.id }}').attr('class', previous_action == 'dislike' ? 'btn btn-danger float-right ml-2' : 'btn btn-secondary float-right ml-2');
                      $('#like_block{{ post.id }}').attr('class', 'btn btn-secondary float-right ml-2');
                      //$('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');
                      // Обновляем общее количество лайков.
                      var previous_dislikes = parseInt($('#dislike_val{{ post.id }}').text());
                      $('#dislike_val{{ post.id }}').text(previous_action == 'dislike' ? previous_dislikes + 1 : previous_dislikes - 1);
                      var previous_likes = parseInt($('#like_val{{ post.id }}').text());
                      $('#like_val{{ post.id }}').text(like_previous_action == 'unlike' ? previous_likes - 1 : previous_likes );
                    }
                  });
                });
            </script>
        {% endfor %}
        </div>
        <nav aria-label="post-pagination">
          <ul class="pagination pagination-lg justify-content-center">
            {% if posts.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ posts.previous_page_number }}">Назад</a>
              </li>
            {% endif %}
            {% if posts.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ posts.next_page_number }}">Предыдущие</a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
      <div class="col-md-2 sidenav">

      </div>
    </div>
  </div>

<script src="{% static 'js/account/create_post.js' %}" charset="utf-8">
</script>

{% endblock %}
