{% extends 'base.html' %}

{% block title %} Друзья {% endblock %}
{% block style %}
<style media="screen">
</style>
{% endblock %}
{% block main %}
{% include 'menu.html' %}

<div class="container-fluid text-center">
  <div class="row content">

    <div class="col-md-2 sidenav">
      <div class="category-wrap">
        <ul>
          <li><a href="{% url 'account:find_users' %}">Найти друга</a></li>
          <li class="active"><a href="{% url 'account:friends' %}">Друзья</a></li>
          <li><a href="{% url 'account:friend_request' %}">Заявки в друзья
            {% if not_confirmed_friends_count != 0 %}
             <span class="badge badge-primary" id="new_friends"> {{ not_confirmed_friends_count }}</span>
            {% endif %}
           </a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-8 text-left">
      <strong>Друзья</strong>
      <br>
      <div class="card-columns">
      {% for friend in friends1 %}
        <div class="card">
          <a href="{% url 'account:account' friend.users_friend.id %}"><img src="{{ friend.users_friend.profile.avatar.url }}" alt="{{ friend.users_friend.username }}" class="card-img-top"></a>
          <div class="card-body">
            <h4 class="card-title wordwrap textowerflow"><a href="{% url 'account:account' friend.users_friend.id %}">
            {{ friend.users_friend.first_name }} {{ friend.users_friend.last_name }}</a></h4>
            {% if friend.users_friend.status.online %}
              {% if friend.users_friend.status.get_online_status == 'Онлайн' %}
                <p class="text-primary">{{ friend.users_friend.status.get_online_status }}</p>
              {% endif %}
            {% endif %}
            <a class="btn btn-primary" href="{% url 'account:delete_friend' friend.users_friend.id %}">Удалить из друзей</a>
          </div>
        </div>
      {% endfor %}
      {% for friend in friends2 %}
        <div class="card">
          <a href="{% url 'account:account' friend.user.id %}"><img src="{{ friend.user.profile.avatar.url }}" alt="{{ friend.user.username }}" class="card-img-top"></a>
          <div class="card-body">
            <h4 class="card-title wordwrap textowerflow"><a href="{% url 'account:account' friend.user.id %}">
            {{ friend.user.first_name }} {{ friend.user.last_name }}</a></h4>
            {% if friend.user.status.online %}
              {% if friend.user.status.get_online_status == 'Онлайн' %}
                <p class="text-primary">{{ friend.user.status.get_online_status }}</p>
              {% endif %}
            {% endif %}
            <a class="btn btn-primary" href="{% url 'account:delete_friend' friend.user.id %}">Удалить из друзей</a>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

    <div class="col-md-2 sidenav">
    </div>

  </div>
</div>
{% endblock %}
