{% extends 'base.html' %}

{% block title %} Заявки в друзья {% endblock %}

{% block main %}
{% include 'menu.html' %}

<div class="container-fluid text-center">
  <div class="row content">

    <div class="col-md-2 sidenav">
      <div class="category-wrap">
        <ul>
          <li><a href="{% url 'account:find_users' %}">Найти друга</a></li>
          <li><a href="{% url 'account:friends' %}">Друзья</a></li>
          <li class="active"><a href="{% url 'account:friend_request' %}">Заявки в друзья
            {% if not_confirmed_friends_count != 0 %}
             <span class="badge badge-primary" id="new_friends"> {{ not_confirmed_friends_count }}</span>
            {% endif %}
           </a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-8 text-left">
      <strong>Заявки в друзья</strong>
      <br>
      <div class="card-columns">
        {% for not_confirmed_friend in not_confirmed_friends %}
          <div class="card">
            <a href="{% url 'account:account' not_confirmed_friend.user.id %}">
              <img src="{{ not_confirmed_friend.user.profile.avatar.url }}" alt="{{ not_confirmed_friend.user.username }}" class="card-img-top">
            </a>
            <div class="card-body">
              <h4 class="card-title wordwrap textowerflow"><a href="{% url 'account:account' not_confirmed_friend.user.id %}">
              {{ not_confirmed_friend.user.first_name }} {{ not_confirmed_friend.user.last_name }}</a></h4>
              <p class="card-text wordwrap textowerflow">
                {% if not_confirmed_friend.user.profile.birth_date %}
                  {{ not_confirmed_friend.user.profile.birth_date }}
                <br>
                {% endif %}
                {% if not_confirmed_friend.user.profile.city %}
                  {{ not_confirmed_friend.user.profile.city}}
                {% endif %}
              </p>
              {% if not_confirmed_friend.user.status.online %}
                {% if not_confirmed_friend.user.status.get_online_status == 'Онлайн' %}
                  <p class="text-primary">{{ not_confirmed_friend.user.status.get_online_status }}</p>
                {% endif %}
              {% endif %}
              <a class="card-link" href="{% url 'account:confirm_friend' not_confirmed_friend.user.id %}">Подтвердить</a>
              <a class="card-link" href="{% url 'account:delete_friend' not_confirmed_friend.user.id %}">Отклонить</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-md-2 sidenav">
    </div>

  </div>
</div>
{% endblock %}
